<window id="4">
    <defaultcontrol always="true">9000</defaultcontrol>
    <allowoverlay>no</allowoverlay>
    <controls>
        <include>CommonSettingsBackground</include>
        <include>CommonMediaPlayingBackground</include>
        <include>Global_BackgroundDiffuser</include>
        <include>Bottom_Part</include>
        <control type="group">
            <posx>335</posx>
            <posy>30</posy>
            <control type="image">
                <description>Settings background</description>
                <posx>0</posx>
                <posy>0</posy>
                <width>610</width>
                <height>610</height>
                <texture border="10" background="true">mjew/home_menu_background.png</texture>
                <colordiffuse>aa000000</colordiffuse>
            </control>
            <control type="image">
                <description>Settings background reflection</description>
                <posx>0</posx>
                <posy>610</posy>
                <width>610</width>
                <height>70</height>
                <texture flipy="true" diffuse="mjew/home_menu_reflection.png" border="10" background="true">mjew/home_menu_background.png</texture>
                <colordiffuse>88000000</colordiffuse>
            </control>
            <control type="panel" id="9000">
                <posx>40</posx>
                <posy>40</posy>
                <width>570</width>
                <height>570</height>
                <onleft>9000</onleft>
                <onright>9000</onright>
                <onup>9000</onup>
                <ondown>9000</ondown>
                <pagecontrol>-</pagecontrol>
                <scrolltime>300</scrolltime>
                <itemlayout height="190" width="190">
                    <control type="image">
                        <posx>0</posx>
                        <posy>0</posy>
                        <width>150</width>
                        <height>150</height>
                        <aspectratio scalediffuse="false">scale</aspectratio>
                        <texture diffuse="mjew/settings_diffuse.png" background="true">$INFO[ListItem.Icon]</texture>
                    </control>
                    <control type="image">
                        <posx>0</posx>
                        <posy>0</posy>
                        <width>150</width>
                        <height>150</height>
                        <aspectratio scalediffuse="false">scale</aspectratio>
                        <texture diffuse="mjew/settings_diffuse.png">mjew/black.png</texture>
                        <colordiffuse>80ffffff</colordiffuse>
                    </control>
                    <control type="image">
                        <posx>0</posx>
                        <posy>0</posy>
                        <width>150</width>
                        <height>150</height>
                        <aspectratio>scale</aspectratio>
                        <texture>mjew/settings_frame.png</texture>
                        <colordiffuse>20ffffff</colordiffuse>
                    </control>
                    <control type="image">
                        <posx>0</posx>
                        <posy>0</posy>
                        <width>150</width>
                        <height>150</height>
                        <aspectratio>scale</aspectratio>
                        <texture>mjew/settings_gloss.png</texture>
                        <colordiffuse>20ffffff</colordiffuse>
                    </control>
                </itemlayout>
                <focusedlayout height="190" width="190">
                    <control type="image">
                        <posx>0</posx>
                        <posy>0</posy>
                        <width>150</width>
                        <height>150</height>
                        <aspectratio scalediffuse="false">scale</aspectratio>
                        <texture background="true" diffuse="mjew/settings_diffuse.png">$INFO[ListItem.Icon]</texture>
                        <animation effect="zoom" center="auto" start="50" end="120" time="400" reversible="false" tween="back" easing="out">Focus</animation>
                    </control>
                    <control type="image">
                        <posx>0</posx>
                        <posy>0</posy>
                        <width>150</width>
                        <height>150</height>
                        <aspectratio>scale</aspectratio>
                        <texture>mjew/settings_frame.png</texture>
                        <colordiffuse>ff498999</colordiffuse>
                        <animation effect="zoom" center="auto" start="50" end="120" time="400" reversible="false" tween="back" easing="out">Focus</animation>
                    </control>
                    <control type="image">
                        <posx>0</posx>
                        <posy>0</posy>
                        <width>150</width>
                        <height>150</height>
                        <aspectratio>scale</aspectratio>
                        <texture>mjew/settings_gloss.png</texture>
                        <colordiffuse>20ffffff</colordiffuse>
                        <animation effect="zoom" center="auto" start="50" end="120" time="400" reversible="false" tween="back" easing="out">Focus</animation>
                    </control>
                </focusedlayout>
                <content>
                    <item id="1">
                        <label>480</label>
                        <label2>31400</label2>
                        <onclick>ActivateWindow(AppearanceSettings)</onclick>
                        <icon>special://skin/media/backgrounds/appearance.jpg</icon>
                    </item>
                    <item id="2">
                        <label>157</label>
                        <label2>31401</label2>
                        <onclick>ActivateWindow(VideosSettings)</onclick>
                        <icon>special://skin/media/backgrounds/videos.jpg</icon>
                    </item>
                    <item id="3">
                        <label>2</label>
                        <label2>31402</label2>
                        <onclick>ActivateWindow(MusicSettings)</onclick>
                        <icon>special://skin/media/backgrounds/music.jpg</icon>
                    </item>
                    <item id="4">
                        <label>1</label>
                        <label2>31403</label2>
                        <onclick>ActivateWindow(PicturesSettings)</onclick>
                        <icon>special://skin/media/backgrounds/pictures.jpg</icon>
                    </item>
                    <item id="5">
                        <label>8</label>
                        <label2>31404</label2>
                        <onclick>ActivateWindow(WeatherSettings)</onclick>
                        <icon>special://skin/media/backgrounds/weather.jpg</icon>
                    </item>
                    <item id="6">
                        <label>24001</label>
                        <label2>31408</label2>
                        <onclick>ActivateWindow(AddonBrowser)</onclick>
                        <icon>special://skin/media/backgrounds/addons.jpg</icon>
                    </item>
                    <item id="7">
                        <label>705</label>
                        <label2>31405</label2>
                        <onclick>ActivateWindow(NetworkSettings)</onclick>
                        <icon>special://skin/media/backgrounds/network.jpg</icon>
                    </item>
                    <item id="8">
                        <label>13000</label>
                        <label2>31406</label2>
                        <onclick>ActivateWindow(SystemSettings)</onclick>
                        <icon>special://skin/media/backgrounds/system.jpg</icon>
                    </item>
                    <item id="9">
                        <label>166</label>
                        <label2>31407</label2>
                        <onclick>ActivateWindow(1111)</onclick>
                        <icon>special://skin/logo.png</icon>
                    </item>
                </content>
            </control>
            <control type="group">
                <posx>-300</posx>
                <posy>50</posy>
                <control type="image">
                    <description>Settings box left side background</description>
                    <posx>-34</posx>
                    <posy>-30</posy>
                    <width>338</width>
                    <height>190</height>
                    <texture flipx="true" border="10" background="true">mjew/settings_box.png</texture>
                    <colordiffuse>aa000000</colordiffuse>
                    <animation effect="slide" start="0,0" end="0,190" time="0" condition="Container(9000).HasFocus(4) | Container(9000).HasFocus(5)">conditional</animation>
                    <animation effect="slide" start="0,0" end="0,365" time="0" condition="Container(9000).HasFocus(7) | Container(9000).HasFocus(8)">conditional</animation>
                    <visible>!Container(9000).HasFocus(3) + !Container(9000).HasFocus(6) + !Container(9000).HasFocus(9)</visible>
                </control>
                <control type="image">
                    <description>Settings box left side glow</description>
                    <posx>-34</posx>
                    <posy>-30</posy>
                    <width>338</width>
                    <height>190</height>
                    <texture flipx="true" border="10" background="true">mjew/settings_box_glow.png</texture>
                    <colordiffuse>white</colordiffuse>
                    <animation effect="slide" start="0,0" end="0,190" time="0" condition="Container(9000).HasFocus(4) | Container(9000).HasFocus(5)">conditional</animation>
                    <animation effect="slide" start="0,0" end="0,365" time="0" condition="Container(9000).HasFocus(7) | Container(9000).HasFocus(8)">conditional</animation>
                    <visible>!Container(9000).HasFocus(3) + !Container(9000).HasFocus(6) + !Container(9000).HasFocus(9)</visible>
                </control>
                <control type="image">
                    <description>Settings box right side background</description>
                    <posx>906</posx>
                    <posy>-30</posy>
                    <width>338</width>
                    <height>190</height>
                    <texture border="10" background="true">mjew/settings_box.png</texture>
                    <colordiffuse>aa000000</colordiffuse>
                    <animation effect="slide" start="0,0" end="0,190" time="0" condition="Container(9000).HasFocus(6)">conditional</animation>
                    <animation effect="slide" start="0,0" end="0,365" time="0" condition="Container(9000).HasFocus(9)">conditional</animation>
                    <visible>Container(9000).HasFocus(3) | Container(9000).HasFocus(6) | Container(9000).HasFocus(9)</visible>
                </control>
                <control type="image">
                    <description>Settings box right side glow</description>
                    <posx>906</posx>
                    <posy>-30</posy>
                    <width>338</width>
                    <height>190</height>
                    <texture border="10" background="true">mjew/settings_box_glow.png</texture>
                    <colordiffuse>white</colordiffuse>
                    <animation effect="slide" start="0,0" end="0,190" time="0" condition="Container(9000).HasFocus(6)">conditional</animation>
                    <animation effect="slide" start="0,0" end="0,365" time="0" condition="Container(9000).HasFocus(9)">conditional</animation>
                    <visible>Container(9000).HasFocus(3) | Container(9000).HasFocus(6) | Container(9000).HasFocus(9)</visible>
                </control>
                <control type="label">
                    <description>Appearance description label</description>
                    <include>Settings_Description_LabelTemplate</include>
                    <label>31428</label>
                    <visible>Container(9000).HasFocus(1)</visible>
                </control>
                <control type="label">
                    <description>Video description label</description>
                    <include>Settings_Description_LabelTemplate</include>
                    <label>31429</label>
                    <visible>Container(9000).HasFocus(2)</visible>
                </control>
                <control type="label">
                    <description>Music description label</description>
                    <include>Settings_Description_LabelTemplate</include>
                    <label>31430</label>
                    <visible>Container(9000).HasFocus(3)</visible>
                </control>
                <control type="label">
                    <description>Pictures description label</description>
                    <include>Settings_Description_LabelTemplate</include>
                    <label>31431</label>
                    <visible>Container(9000).HasFocus(4)</visible>
                </control>
                <control type="label">
                    <description>Weather description label</description>
                    <include>Settings_Description_LabelTemplate</include>
                    <label>31432</label>
                    <visible>Container(9000).HasFocus(5)</visible>
                </control>
                <control type="label">
                    <description>Addons description label</description>
                    <include>Settings_Description_LabelTemplate</include>
                    <label>31433</label>
                    <visible>Container(9000).HasFocus(6)</visible>
                </control>
                <control type="label">
                    <description>Network description label</description>
                    <include>Settings_Description_LabelTemplate</include>
                    <label>31434</label>
                    <visible>Container(9000).HasFocus(7)</visible>
                </control>
                <control type="label">
                    <description>System description label</description>
                    <include>Settings_Description_LabelTemplate</include>
                    <label>31435</label>
                    <visible>Container(9000).HasFocus(8)</visible>
                </control>
                <control type="label">
                    <description>Skin description label</description>
                    <include>Settings_Description_LabelTemplate</include>
                    <label>31436</label>
                    <visible>Container(9000).HasFocus(9)</visible>
                </control>
                <control type="textbox">
                    <description>Category description</description>
                    <posx>0</posx>
                    <posy>30</posy>
                    <width>270</width>
                    <height>100</height>
                    <font>Font_Tahoma_20</font>
                    <label>$INFO[Container(9000).ListItem.Label2]</label>
                    <align>left</align>
                    <textcolor>white</textcolor>
                    <shadowcolor>black</shadowcolor>
                    <autoscroll time="2000" delay="2000" repeat="2000">true</autoscroll>
                    <animation effect="slide" start="0,0" end="0,190" time="0" condition="Container(9000).HasFocus(4) | Container(9000).HasFocus(5)">conditional</animation>
                    <animation effect="slide" start="0,0" end="0,365" time="0" condition="Container(9000).HasFocus(7) | Container(9000).HasFocus(8)">conditional</animation>
                    <animation effect="slide" start="0,0" end="950,0" time="0" condition="Container(9000).HasFocus(3)">conditional</animation>
                    <animation effect="slide" start="0,0" end="950,190" time="0" condition="Container(9000).HasFocus(6)">conditional</animation>
                    <animation effect="slide" start="0,0" end="950,365" time="0" condition="Container(9000).HasFocus(9)">conditional</animation>
                </control>
            </control>
        </control>
        <include>Global_DialogDiffuser</include>
        <include>Global_Time</include>
        <include>Global_Weather</include>
        <include condition="Skin.HasSetting(Show_RSS_Everywhere)">Global_RSS_Feed</include>
    </controls>
</window>
